
  
  body, html {
    width: 750px;
    height: 400px;
    margin: 0;
    font-family: Verdana, sans-serif;
    background:
    linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px;
  }

 .tablink {
   background-color: #555;
   color: white;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   font-size: 15px;
   width: 25%;
 }

 .tablink:hover {
   background-color: cornflowerblue;
 }

 .tabcontent {
   color: white;
   display: none;
   padding: 100px 20px;
   height: 100%;
 }

#Home {
  
}

#News {
  background-color: green;
}

#Contact {
  background-color: blue;
}

#About {
  background-color: orange;
}